{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}

<div class="flex-container">
  <a href="/mylifeismetal-frontpage/">
    <div class="flex-panel">
      <h4>MY LIFE IS METAL</h4>
      <img class="panel-icon" src="/content/images/strings.png" />
      <p>A blog about heavy metal.</p>
    </div>
  </a>
  <a href="/welovedc-frontpage/">
    <div class="flex-panel">
      <h4>WELOVEDC</h4>
      <img class="panel-icon" src="/content/images/welovedc.jpg" />
      <p>Concert reviews.</p>
    </div>
  </a>
  <a href="/mylifeismetal-frontpage/">
    <div class="flex-panel">
      <h4>PINNASTORM</h4>
      <img class="panel-icon" src="/content/images/pinnaheader.jpg" />
      <p>Pop culture criticism.</p>
    </div>
  </a>
  <a href="/gaming-frontpage/">
    <div class="flex-panel">
      <h4>GAMING</h4>
      <img class="panel-icon" src="/content/images/metroid.png" />
      <p>I make games and break records.</p>
    </div>
  </a>
  <a href="/binaural-beats/">
    <div class="flex-panel">
      <h4>BULLSHIT</h4>
      <img class="panel-icon" src="/content/images/root-chakra.png" />
      <p>Or, how to hack pseudoscience blogs.</p>
    </div>
  </a>
</div>

{{! The tag below includes the post loop - partials/loop.hbs }}
<h4>Recent Posts</h4>
{{> "loop"}}
